[submodule "Font-Awesome"]
	path = submodules/Font-Awesome
	url = git://github.com/FortAwesome/Font-Awesome.git
[submodule "bootstrap"]
	path = submodules/bootstrap
	url = git://github.com/twitter/bootstrap.git
